{% load static %}
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url "home" %}">
            <img src="{% static "images/logo/logo-light.png" %}" class="logo-light" alt="logo">
            <img src="{% static "images/logo/logo-dark.png" %}" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="{% url 'home' %}" class="nav__item-link">Home</a>
<!--                <ul class="dropdown-menu">-->
<!--                  <li class="nav__item"><a href="index.html" class="nav__item-link">Home Main</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="home-gourmet.html" class="nav__item-link">Home Gourmet</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="home-classic.html" class="nav__item-link">Home Classic</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="home-cafe.html" class="nav__item-link">Home Cafe</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                </ul>&lt;!&ndash; /.dropdown-menu &ndash;&gt;-->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">About</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="our-story.html" class="nav__item-link">About Us</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="our-chefs.html" class="nav__item-link">Our chefs</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="our-guestbook.html" class="nav__item-link">Our Guestbook</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="contacts.html" class="nav__item-link">Contact Us</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="events.html" class="nav__item-link">Events</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="event-single.html" class="nav__item-link">Event Single</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="faqs.html" class="nav__item-link">FAQs</a></li> <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="{% url 'list_menu' %}" class="nav__item-link">Menu</a>
<!--                <ul class="dropdown-menu">-->
<!--                  <li class="nav__item"><a href="menu-classic.html" class="nav__item-link">Menu Classic</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="menu-mixed.html" class="nav__item-link">Menu Mixed</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="menu-board.html" class="nav__item-link">Menu Board</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                  <li class="nav__item"><a href="menu-gallery.html" class="nav__item-link">Menu Gallery</a></li>-->
<!--                  &lt;!&ndash; /.nav-item &ndash;&gt;-->
<!--                </ul>&lt;!&ndash; /.dropdown-menu &ndash;&gt;-->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Gallery</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="gallery-grid.html" class="nav__item-link">Gallery grid</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="gallery-fullwidth.html" class="nav__item-link">Gallery Fullwidth</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="blog-carousel.html" class="nav__item-link">blog carousel</a></li>
                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Blog Grid</a>
                    <ul class="dropdown-menu">
                      <li class="nav__item">
                        <a href="blog-grid-sidebar.html" class="nav__item-link">Grid Sidebar</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="blog-grid.html" class="nav__item-link">No Sidebar</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->
                  <li class="nav__item"><a href="blog-standard.html" class="nav__item-link">blog standard</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="blog-single-post.html" class="nav__item-link">single post</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="shop.html" class="nav__item-link">our Shop</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="shop-sidebar.html" class="nav__item-link">Shop with Sidebar</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="shop-single-product.html" class="nav__item-link">Single Product</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item"><a href="shopping-cart.html" class="nav__item-link">cart</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-actions-wrap">
            <div class="navbar-actions d-flex align-items-center">
              <a href="#" class="navbar__action-btn search-popup-trigger"><i class="fa fa-search"></i></a>
              <a href="reservation.html"
                class="navbar__action-btn navbar__action-btn-reserve btn btn__primary">Reservation</a>
              <ul class="social__icons">
                <li><a href="#"><i class="fa fa-tripadvisor"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- /.social__icons -->
            </div><!-- /.navbar-actions -->
          </div><!-- /.navbar-actions-wrap -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
