{% load static %}
      <div class="bg-img"><img src="{% static "images/backgrounds/14.jpg" %}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 hero__banner-inner">
            <div class="hero__banner-img" data-aos="fade">
              <img src="{% static "images/logo/logo-xl.png" %}" alt="logo" class="img-fluid">
            </div><!-- /.hero__banner-img -->
            <div class="hero__banner-categories d-flex justify-content-center">
              <a href="menu-classic.html" class="cat__item">
                <img src="{% static "images/icons/7.png" %}" alt="categorey">
                <span class="cat__item-title">Deserts</span>
              </a><!-- /.cat__item-->
              <a href="menu-mixed.html" class="cat__item">
                <img src="{% static "images/icons/8.png" %}" alt="categorey">
                <span class="cat__item-title">Specials</span>
              </a><!-- /.cat__item-->
              <a href="menu-gallery.html" class="cat__item">
                <img src="{% static "images/icons/9.png" %}" alt="categorey">
                <span class="cat__item-title">Drinks</span>
              </a><!-- /.cat__item-->
            </div><!-- /.hero__banner-categories -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <svg class="divider-shape" xmlns="http://www.w3.org/2000/svg" width="142" height="17" viewBox="0 0 142 17">
        <path
          d="M800,600V583c8.782,15.985,46.811,11.315,56,12a35.721,35.721,0,0,1,15,5m-71,0V583c-8.782,15.985-46.811,11.315-56,12a35.717,35.717,0,0,0-15,5"
          transform="translate(-729 -583)"></path>
      </svg>


